@model List<Report>

<div class="container">
    <h1>SATIN ALINAN ÜRÜNLER</h1>
    <hr />
    <div class="row col-md-12 col-md-offset-2 custyle">
        
    
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>ÜRÜN İSMİ</th>
                    <th>BİRİM FİYAT</th>
                    <th>ADET</th>
                    <th>TUTAR</th>
                    <th>SATIN ALMA TARİHİ</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.Date</td>
                </tr>
            }

        </table>
    </div>
</div>